* {
    overflow-x: hidden;
}

#description {
    display: flex;
    color: #3d0954;
    border-radius: 110px;
    width: 111%;
    padding: 35px 35px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 150;
    text-align: left;
    border: #3d0954;
    background: #d35c991f;
    outline: none;
    

}
#description2 {
    display: flex;
    font-style: italic;
    color: #3d0954;
    border-radius: 110px;
    width: 90%;
    padding: 15px 15px;
    margin-bottom: 50px;
    text-align: right;
    border: #3d0954;
    background: #ffffff;
    outline: none;
    font-size: 23px;

}