* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bodi {
    width: 100%;
    min-height: 100vh;
    background-color:#ffffff;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodi .container {
    width: 600px;
    min-height: 400px;
    background: #5c2572;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 60px 30px;
}

.bodi .container .login-text {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.bodi .container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.bodi .container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.bodi .container .login-email .input-group input:focus,
.bodi .container .login-email .input-group input:valid {
    border-color: #ffffff;
    ;
}

.bodi .container .login-email .input-group .btn {
    display: block;
    width: 24%;
    padding: 5px 25px;
    text-align: center;
    border: none;
    margin-left: 190px;
    background: #ffffff;
    outline: none;
    border-radius: 2.2px;
    font-size: 1.3rem;
    color: #480263;
    cursor: pointer;
    transition: .9s;
}   

.bodi .container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #bd7cd6;
    ;
}

.bodi .login-register-text {
    color: #111;
    font-weight: 300;
}

.bodi .login-register-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    ;
}

@media (max-width: 430px) {
    .bodi .container {
        width: 300px;
    }

}